# editors
.vscode/
.settings/
**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/*.launch
**/.classpath
**/.project
**/bin/

# gradle / build
**/.gradle/
**/build/
**/out/
**/classes/

# fabric run data
**/run/

# platform files
**/.DS_Store

# java crash / profiling
**/hs_err_*.log
**/replay_*.log
**/*.hprof
**/*.jfr
**/run_verbose.log
